@media (max-width: 421px) {
	.header .left{
		width:100% !important;
	}
	.header .right {
		display:none;
	}
}
@media (max-width: 600px) {
	.secNav{
		display:none;
	}
	.content{
		margin-left:100px !important;
	}
	.header .right h3{
		font-size:14px;
	}
	.header .right h4{
		font-size:11px;
	}
}
.cl{
	clear:both;
}
.body{
	background:url(../images/body.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #5f5f5f;
    min-height: 100%;
    position: relative;	
}
.right{
	float:right;
}
.header{
	background:url(../images/top.png);
	color:#FFFFFF;
	padding:10px;
	height:80px;
}
.header .left{
	float:left;
	width:70px;
}
.header .right h4{
	margin-top:5px;
}
.header .right{
	float:left;
	padding-top:10px;
}
.header h3{
	margin:0px;
	font-weight:bold;
	font-size:19px;
}
.header h4{
	margin:0px;
}
.sidebar{
    display: block;
    background: url(../images/bgnav.jpg) repeat-y;
    min-height: 100%;
    position: absolute;
    z-index: 999;
    border-right: 1px solid #c3c3c3;
}
.mainnav {
    width: 100px;
    background: url(../images/sidebar.jpg);
    float: left;
    padding-top: 15px;
    position: relative;
    z-index: 99;
    padding-top: 2px;
}
.user {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 16px;
    border-top: 1px solid #545454;
	cursor:pointer;
}
.user a > img {
    box-shadow: 0 1px 3px #1e1e1e;
    -webkit-box-shadow: 0 1px 3px #1e1e1e;
    -moz-box-shadow: 0 1px 3px #1e1e1e;
}
img {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.user > span {
    display: block;
    color: #c2c2c2;
    margin-top: 10px;
}

.nav {
    text-align: center;
    border-top: 1px solid #2e2e2e;
    margin-top: 10px;
    border-bottom: 1px solid #004657;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    border-top: 1px solid #0082a0;
    border-bottom: 1px solid #004657;
    position: relative;
}


.nav li a:hover{
	background:#015D74 !important; 
}
.nav li a {
    color: #f4f4f4;
}
 

.nav li a span {
    display: block;
    padding-top: 4px;
    text-shadow: 0 1px 0 #303030;
}

.secNav {
    position: relative;
    padding-left: 100px;
    z-index: 98;
    padding-top: 2px;
	width:327px;
}
.headpage{
	color:#7D7D7D;
	font-size:12px;
	background: url(../images/subnav.jpg);
	padding:6px;
	border-bottom:1px solid #C3C3C3;
}
.last-change span{
	font-size:10px;
	color:#333;
}
.last-change b{
	font-size:13px;
	color:#436b80;
}
.last-change{
	border-bottom:1px solid #C3C3C3;
	padding:10px;
	background:#F2F2F2;
}
.list-history a{
	font-size:10px;
	font-weight:bold;
	padding:8px 30px;
}
.list-history{
	text-align:center;
	padding:20px;
	border-bottom:1px solid #C3C3C3;
}
.menuna .label{
	font-size:90%;
}
.menuna a:hover{
	background:#efefef;
}
.inmenuna a:hover{
	background:#FFFFFF !important;
}
 
.inmenuna a{
	background:#EFEFEF !important;
	display:block;
	font-weight:normal !important;
	padding:10px 20px !important;
}
.menuna a{
	text-decoration:none;
	color:#6a6a6a;
	font-weight:bold;
	font-size:12px;
	border-bottom:1px solid #C3C3C3;
	display:block;
	padding:10px;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fff 0%,#ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */

}

.content {
    padding-bottom: 60px;
    position: relative;
    margin-left: 327px; 
	min-height:600px;
}
.content-full{
    margin-left: 100px !important; 
}
.bc{
	color:#6a6a6a;
	font-weight:bold;
	font-size:11px;
	border-bottom:1px solid #C3C3C3;
	display:block;
	padding:8px 10px;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fff 0%,#ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */

}
.panel-body{
	font-size:13px;
}
.panel-title{
	font-size:14px;
	font-weight:bold;
	color:#888;
}
.martop{
	margin-top:20px;
}
.div-table{
	padding:0px !important;
}
.table-cus li{
	border-bottom:1px solid #DFDFDF;
	margin-bottom:2px;
	padding:2px;
}
.table-cus ol{
	margin-top:10px;
}
.table-cus .tr1 td{
	background:#F2F2F2;
}
.table-cus td{
	background:#F7F7F7;
	padding:5px;
	color:#666;
	border-left:1px solid #DDD;
	border-bottom:1px solid #DDD;
	font-size:13px;
}
.table-cus th{
	background:#EEEEEE;
	padding:8px 15px;
	font-size:12px;
	color:#666;
	text-align:center;
	border-bottom:1px solid #DFDFDF;
}
.table-cus{
	border-top:1px solid #FFF;
}
.tab-cus {
	padding:0px !important;
}
.tab-cus .activetab{
	background:#FFFFFF;
}
.tab-cus a:hover{
	background:#FFFFFF;
}
.tab-cus a{
	display:block;
	float:left;
	padding:10px;
	border-right:1px solid #CDCDCD;
	text-decoration:none;
}