.page_break { page-break-before: always; }
		table.table_nilai{
			width: 100%;
      font-size:12px;
		}
table.table_nilai {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
}
 
table.table_nilai th {
  padding: 15px 35px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
 
table.table_nilai th:first-child{  
  border-left:none;  
}
 
table.table_nilai tr {
  text-align: center;
  padding-left: 20px;
}
 
table.table_nilai td:first-child {
  text-align: left;
  border-left: 0;
}
 
table.table_nilai td {
  padding: 15px 35px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: white;
  
}
 
table.table_nilai tr:last-child td {
  border-bottom: 0;
}
 
table.table_nilai tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table.table_nilai tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }
 

